* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  min-height: 100vh;
  width: 100%;
}
